{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        <h1>LOGIN</h1>

        <div class="input-box">
            {{ form.username }}
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-box">
            {{ form.password }}
            <i class='bx bxs-lock'></i>
        </div>

        <div class="remember-forgot">
            <label><input type="checkbox"> Recuérdame</label>
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="btn">Ingresar</button>

        <div class="register-link">
            <p>¿No tienes una cuenta? <a href="{% url 'registrar' %}">Registrar</a></p>
        </div>
    </form>
</div>
{% endblock %}
