{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="register-wrapper">
  <h2>Registro de Usuario</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label>{{ form.username.label }}</label>
    {{ form.username }}

    <label>{{ form.email.label }}</label>
    {{ form.email }}

    <label>{{ form.nombre.label }}</label>
    {{ form.nombre }}

    <label>{{ form.apellido.label }}</label>
    {{ form.apellido }}

    <label>{{ form.telefono.label }}</label>
    {{ form.telefono }}

    <label>{{ form.password1.label }}</label>
    {{ form.password1 }}

    <label>{{ form.password2.label }}</label>
    {{ form.password2 }}

    <div class="register-buttons">
      <button type="submit">Registrarse</button>
      <button type="button" onclick="window.location.href='{% url 'login' %}'">
        Iniciar Sesión
      </button>
    </div>
  </form>
</div>
{% endblock %}
