{% extends 'base.html' %}
{% load static %}
{% block title %}Eliminar Reserva{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crudReE.css' %}">

    <h2>¿Estás seguro de que deseas eliminar esta reserva?</h2>
    <p>Cliente: {{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</p>
    <p>Habitación: {{ reserva.habitacion.numero_habitacion }}</p>
    <p>Fecha de inicio: {{ reserva.fecha_inicio }}</p>
    <p>Fecha de fin: {{ reserva.fecha_fin }}</p>

    <form method="post">
    {% csrf_token %}
    <p>¿Seguro que deseas eliminar esta reserva?</p>
    <button type="submit" class="btn-eliminar">Eliminar Reserva</button>
    <a href="{% url 'reservas' %}">Cancelar</a>
</form>
{% endblock %}
