{% extends 'base.html' %}
{% load static %}
{% block title %}Nueva Reserva{% endblock %}

{% block content %}
<div class="reserva-container">
    
    <!-- Columna izquierda: formulario -->
    <div class="reserva-formulario">
        <h2>{% if reserva %}Editar{% else %}Nueva{% endif %} Reserva</h2>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_cliente">Cliente:</label>
                {{ form.cliente.errors }}
                {{ form.cliente }}
            </div>

            <div class="form-group">
                <label for="id_habitacion">Habitación:</label>
                {{ form.habitacion.errors }}
                {{ form.habitacion }}
            </div>

            <div class="form-group">
                <label for="id_fecha_inicio">Fecha de Entrada:</label>
                {{ form.fecha_inicio.errors }}
                {{ form.fecha_inicio }}
            </div>

            <div class="form-group">
                <label for="id_fecha_fin">Fecha de Salida:</label>
                {{ form.fecha_fin.errors }}
                {{ form.fecha_fin }}
            </div>

            <button type="submit" class="btn btn-success">Guardar Reserva</button>
            <a href="{% url 'reservas' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <!-- Columna derecha: imagen + texto -->
    <div class="reserva-info">
        {% for habitacion in habitaciones %}
          <table>
            <tr>
              <td rowspan="2">
                <img src="{% static 'img/fcpn.jpg' %}" alt="habitacion" width="200">
              </td>
              <td><h3>Habitacion: {{ habitacion.numero_habitacion }}</h3></td>
            </tr>
            <tr>
             <td>{{ habitacion.tipo_habitacion.descripcion }}</td>
            </tr>
          </table>
          <br>
        {% empty %}
        <h3>No hay habitaciones</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}
